.portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  color: #385888;

  .rectangle1 {
    width: 10vh;
    height: 40.8vh;
    background: linear-gradient(
      174.45deg,
      rgba(0, 150, 183, 0.08) 0%,
      rgba(0, 188, 255, 0.32) 100%
    );
    backdrop-filter: blur(100px);
    position: absolute;
    top: 0%;
    right: 50%;
  }
  .rectangle2 {
    width: 35.6vh;
    height: 6vh;
    background: linear-gradient(
      268.02deg,
      rgba(0, 188, 255, 0.32) 0%,
      rgba(0, 150, 183, 0.08) 101.66%
    );
    backdrop-filter: blur(100px);
    position: absolute;
    top: 43.5%;
    left: 0%;
  }
  .rectangle3 {
    width: 8.3vh;
    height: 38.5vh;
    background: linear-gradient(
      177.71deg,
      rgba(0, 188, 255, 0.32) 0%,
      rgba(0, 150, 183, 0.08) 100%
    );
    backdrop-filter: blur(100px);
    position: absolute;
    bottom: 0%;
    left: 29.5%;
  }
  .rectangle4 {
    width: 56.5vh;
    height: 12vh;
    background: linear-gradient(
      91.96deg,
      rgba(0, 188, 255, 0.32) 0%,
      rgba(0, 150, 183, 0.08) 100%
    );
    backdrop-filter: blur(100px);
    position: absolute;
    bottom: 33%;
    right: 0%;
  }

  &__categories {
    h2 {
      position: absolute;
      bottom: 38%;
      right: 25%;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 42px;
    }
  }

  &__cat {
    position: absolute;
    bottom: 25%;
    left: 5%;
    list-style: none;
  }

  &__item {
    position: absolute;
    width: 296px;
    height: 220px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #82d8f1;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h3 {
      position: absolute;
      width: 100%;
      font-size: 20px;
      padding: 15px 5px;
      opacity: 0;
      transition: all 0.4s ease;
      background: linear-gradient(
        115.06deg,
        rgba(77, 193, 224, 0.99) 0%,
        rgba(79, 195, 223, 0.7) 100%
      );
      text-align: center;
    }

    &:hover h3 {
      opacity: 1;
      color: white;
    }
  }

  &__item_1 {
    top: 13%;
    left: 4.5%;
  }

  &__item_2 {
    top: 22%;
    right: 15.5%;
  }

  &__item_3 {
    bottom: 3%;
    right: 27%;
  }
}
